/.vscode
/ai_usage.db
/aliases.db
/cats.json
/chat.log
/data
/docs
/emote_usage.db
/profiles.db
/__pycache__
modules/weather.py
modules/AI.py
cat_timers.json
modules/__pycache__/AI.cpython-312.pyc
modules/__pycache__/alias.cpython-312.pyc
modules/__pycache__/cats.cpython-312.pyc
afk_storage.db
cat_timers.json
